@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
}

body{
  background-color: #F0F2F5;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input:focus{
    outline: none;
}

img{
    max-width: 100%;
}

/* Start */

.linkedin_top_header{
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
}

.linkedin_brands{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkedin_brands  #l_icon{
    font-size: 35px;
}

.search{
    position: relative;
}

.search input{
    border: 1px solid #f0f2f5;
    margin-left: 6px;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
    width: 300px;
    background: #f0f2f5;
}

.search i{
    position: absolute;
    top: 9px;
    left: 13px;
    font-size: 18px;
    color: #606770;
}

/* Menu */

.linkedin_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    height: 51px;
}

.linkedin_menu ul li{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.linkedin_menu ul li a{
    display: block;
    color: rgba(0,0,0,0.45);
}
.linkedin_menu ul li a:hover{
    color: black;
}

.linkedin_menu ul li a span{
    display: block;
    color: rgba(0,0,0,0.45);
    font-size: 14px;
}


.linkedin_menu ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.linkedin_menu ul li.active::before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: black;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.linkedin_menu ul li.active a{
    color: black;
}


.linkedin_augth{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    border-left: 1px solid #f0f2f5;
}

.linkedin_augth a{
    color: rgba(0,0,0,0.45);
    margin-left: 25px;
}

.linkedin_augth a span{
    display: block;
    color: rgba(0,0,0,0.45);
    margin-left: -4px;
    margin-top: 5px;
}

/* linkedin_body_part */

.body__main{
    min-height: 100vh;
    padding-top: 80px;
}

.body__main {
  display: flex;
  margin-top: 35px;
  width: 80%;
  margin: auto;
}
/* Sidebar */
.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__topAvatar {
  font-size: 40px;
}

.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

.sidebar__top > h2 {
  font-size: 18px;
  margin-top: 22px;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar__bottom > p {
  font-size: 14px;
  padding-bottom: 10px;
}

/* Feed */
.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 5px;
}

/* Post */
.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__info > h2 {
  font-size: 15px;
}

/* widgets */
.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets__article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets__articleLeft .material-icons {
  font-size: 15px;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}

.headerOption__icon {
  border-radius: 50%;
}

.sidebar__topAvatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.sidebar__topAvatar img {
  font-size: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* popbox */

.popupbox {
  z-index: 999;
}

#postPopBox {
  display: none;
}
#eidtPopBox {
  display: none;
}

.popupbox h3 {
  text-align: center;
}
.closeBtn button,
.closeBtneidt button {
  height: 20px;
  position: absolute;
  top: -10px;
  right: -8px;
  width: 20px;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.popupbox .head {
  position: relative;
}
.popbody input,
.popbody textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.submitBtn {
  background-color: #1b74e4;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px !important;
  margin-bottom: 0 !important;
}
.popupbox {
  position: fixed;
  top: 0;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: fit-content;
  padding: 20px;
  box-shadow: 1px 1px 16px darkgrey;
  border-radius: 12px;
}

.bgimgcoderjibon {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar {
  margin-top: 20px;
}

.inputOption h4,
.inputOption h4 {
  pointer-events: none;
}
